@* @{
  Layout = "_Layout";
} *@

@model AnimalShelter.Models.Animal

<h4>Add a new Animal</h4>
@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Description)
    @Html.TextBoxFor(model => model.Description)
    <input type="submit" value="Add new Animal"/>
}
<p>@Html.ActionLink("Show all Animals", "Index")</p>